.subtitle{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 24px 24px 0 24px;
    margin: 0;

}
@media (min-width: 768px) {
    .subtitle{
        padding: 40px 24px 0 40px;
       
    }
 }

.green{
   color: #C0DF33; 
}
.top{
    padding-top: 24px;
}
